body{
    padding-top: 62px;
}

@font-face {
    font-family: 'Cassandra';
    src: url('../fonts/cassandra.ttf') format('truetype');
}
.navbar.fixed-top{
    font-family: 'Cassandra';
}
.navbar.fixed-top input{
    font-family: var(--bs-body-font-family);
}

.navbar-brand img{
    max-height: 48px;
    margin: -6px 0px;
}
#site_name{
    display: inline;
    font-size: 20px;
}
#site_name span{  
    font-size: 16px;
    position: relative;
    top: 16px;
    right: 16px;
}
